.version-dropdown {
  position: relative;
  margin-top: 8px;
}

.version-dropdown-toggle {
  width: 100%;
  height: 32px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  vertical-align: middle;
  padding: 4px 8px;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  white-space: nowrap;
  background-image: none;
  background-color: var(--nav-bg);
  color: var(--nav-text);
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;

  .caret {
    float: right;
  }
}

.dropdown-menu {
  display: none;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  background-color: var(--nav-bg);
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.dropdown.open > .dropdown-menu {
  display: block;
}

.dropdown-footer {
  &:first-child {
    border-bottom: 1px solid var(--border-color);
  }

  &:last-child {
    border-top: 1px solid var(--border-color);
  }
}

.dropdown-content {
  overflow-x:hidden;
  overflow-y:auto;
  max-height: 168px;

  ul {
    padding-left: 0;
  }

  a {
    color: var(--nav-text);
    padding: 2px 10px;
    display: block;

    &:hover, &:focus {
      background: var(--nav-active-bg);
      color: var(--nav-active-text);
    }
  }
}
